<header>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-between">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">about</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">contact</a>
            </li>

            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'learning:one_to_many' %}">One to Many</a>
              <a class="dropdown-item" href="#">Many to Many</a>
              <a class="dropdown-item" href="#">Django Channel</a>
            </div>
          </li>

        </ul>
    </nav>
</header>
